.taskDetaill {
    position: fixed;
    top: -100px;
    /*right: 100px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 1, 1, 0.5);
    z-index: 10;
}

.taskDetailInnerr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.child11 {
    width: 40%;
}

.child22 {
    width: 60%;
}
