.listBody1 tr {
    height: 53px !important;
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

.listBody1 tr td, .listBody1 tr th {
    width: 135px !important;
    text-align: left;
    margin-right: 15px;
    overflow: hidden;
}

.listBody1 thead {
    background-color: lightgray !important;
}

.listBody1 thead th {
    background-color: lightgray;
}